body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
}

.product {
    border: 1px solid #ddd;
    margin: 10px;
    padding: 15px;
    background-color: #fff;
    border-radius: 5px;
}

.product-detail {
    text-align: center;
}

.product-detail img {
    width: 200px;
}

button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

.cart-popup {
    display: none; /* Bắt đầu ẩn */
    position: fixed;
    top: 50px;
    right: 20px;
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000; /* Đảm bảo nó ở trên cùng */
}


.cart-popup h3 {
    margin: 0 0 10px;
}
